@use './app/styles/main';
@use './app/styles/variables' as variable;

body {
  margin: 0;

  // Global background color and dotted pattern
  background-color: #fffcf5;
  background-image: radial-gradient(circle, rgb(224 150 72 / 30%) 2px, transparent 2px);
  background-size: 80px 80px;
}

.section-title {
  margin: 0;

  color: variable.$text-color-primary;
  font-family: Syne;
  font-size: clamp(36px, 5vw, 78px);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.05em;

  transition:
    color 200ms ease,
    letter-spacing 200ms ease;

  &:hover {
    color: variable.$highlight;
    letter-spacing: -0.03em;
  }
}

//   font-family: Syne;
//   font-size: clamp(36px, 5vw, 78px);
//   font-weight: 800;
//   line-height: 1;
//   letter-spacing: -0.05em;
