<section class="contact" id="contact">
  <div class="contact__content section__container">
    <h2 class="contact__title">Say Hi!</h2>

    <div class="contact__intro">
      <h3>Want to discuss a new project?</h3>
      <p>Say hello! Let’s discuss your ideas and make it happen.</p>
    </div>

    <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="name">Your name</label>

        <input id="name" type="text" formControlName="name" autocomplete="name" />

        @if (contactForm.controls.name.touched && contactForm.controls.name.hasError('required')) {
          <p class="form-error">Please enter your name.</p>
        }

        @if (contactForm.controls.name.touched && contactForm.controls.name.hasError('minlength')) {
          <p class="form-error">Your name must contain at least 3 characters.</p>
        }
      </div>

      <div class="form-field">
        <label for="email">Your email</label>

        <input id="email" type="email" formControlName="email" autocomplete="email" />

        @if (
          contactForm.controls.email.touched && contactForm.controls.email.hasError('required')
        ) {
          <p class="form-error">Your email is required.</p>
        }

        @if (
          contactForm.controls.email.touched &&
          (contactForm.controls.email.hasError('email') ||
            contactForm.controls.email.hasError('pattern'))
        ) {
          <p class="form-error">Please enter a complete email address.</p>
        }
      </div>

      <div class="form-field">
        <label for="message">Your message</label>

        <textarea id="message" formControlName="message" rows="6"></textarea>

        @if (
          contactForm.controls.message.touched && contactForm.controls.message.hasError('required')
        ) {
          <p class="form-error">Please enter a message.</p>
        }

        @if (
          contactForm.controls.message.touched && contactForm.controls.message.hasError('minlength')
        ) {
          <p class="form-error">Your message must contain at least 10 characters.</p>
        }
      </div>

      <div class="privacy-field">
        <input id="privacy" type="checkbox" formControlName="privacyAccepted" />

        <label for="privacy">
          I’ve read the
          <a class="privacy" routerLink="/privacy">privacy policy</a>
          and agree to the processing of my data as outlined.
        </label>
      </div>
      <a class="footer__privacy" routerLink="/privacy"> Privacy </a>|

      @if (
        contactForm.controls.privacyAccepted.touched && contactForm.controls.privacyAccepted.invalid
      ) {
        <p class="form-error">Please accept the privacy policy.</p>
      }

      <button type="submit">Send message</button>
    </form>

    <a class="contact__top" href="#top" aria-label="Back to top">
      <span></span>
    </a>
  </div>
</section>
